@model Identity.ViewModels.ManageUserRolesViewModel

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-1" style="height: 20px;">
                                <div class="col-sm-6">
                                    <h5>Manage Roles for User: <b>@Model.UserName</b></h5>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                        <li class="breadcrumb-item active">User Rols</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="card-body">
                        <form method="post" asp-action="ManageRoles">
                            <input asp-for="@Model.UserId" type="hidden" />
                            <input asp-for="@Model.UserName" type="hidden" />
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Role</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.ManageRolesViewModel.Count(); i++)
                                        {
                                            <tr>
                                                <input type="hidden" asp-for="@Model.ManageRolesViewModel[i].Name" type="hidden" />
                                                <td>
                                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#descriptionModal-@Model.ManageRolesViewModel[i].Name">
                                                        @Model.ManageRolesViewModel[i].Name
                                                    </button>

                                                </td>
                                                <td>
                                                    <div class="form-check m-1">
                                                        <input asp-for="@Model.ManageRolesViewModel[i].Checked" class="form-check-input" />
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right mt-3">
                                <button type="submit" id="save" class="btn btn-primary">
                                    <i class="fa fa-check"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Role Description Modal -->
@foreach (var item in Model.ManageRolesViewModel)
{
    <div class="modal fade" id="descriptionModal-@item.Name" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel-@item.Name" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="roleName">Role Name</label>
                        <p>@item.Name</p>
                    </div>
                    <div class="form-group">
                        <label for="roleDescription">Role Description</label>
                        <p>@item.Description</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

