@model Identity.ViewModels.ManageRolePermissionsViewModel

@{
    ViewData["Title"] = "Role Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-1" style="height: 20px;">
                                <div class="col-sm-6">
                                    <h5>Manage Permissions for : <b>@Model.RoleName</b></h5>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                        <li class="breadcrumb-item active">Role Permissions</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Permission Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.ManagePermissionsViewModel.Count(); i++)
                                {
                                    <tr>
                                        <td class="text" id="claimValue@(i)">
                                            @Model.ManagePermissionsViewModel[i].Value
                                        </td>
                                        <td>
                                            <div class="form-check m-1">
                                                <input asp-for="@Model.ManagePermissionsViewModel[i].Checked" class="form-check-input" id="checked@(i)" onchange="permissionChanged(@i)" />
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
    {
    <script>
        var roleId = '@Model.RoleId';
        var roleName = '@Model.RoleName';
        function permissionChanged(i) {
            $.ajax(
                {
                    type: "POST",
                    url: "/Role/ManageRoleClaims",
                    data: {
                        RoleId: roleId,
                        RoleName: roleName,
                        Type: document.getElementById("claimType" + i).innerHTML.trim(),
                        Value: document.getElementById("claimValue" + i).innerHTML.trim(),
                        Checked: document.getElementById("checked" + i).checked
                    },
                    success: function (response) {
                        if (response != null) {
                            if (response.succeeded === true) {
                                Swal.fire({
                                    title: 'Succeeded',
                                    text: response.message,
                                    icon: 'success'
                                });
                            } else {
                                Swal.fire({
                                    title: 'Failed',
                                    text: response.message,
                                    icon: 'error'
                                });
                                document.getElementById("checked" + i).checked = !document.getElementById("checked" + i).checked;
                            }
                        } else {
                            Swal.fire({
                                title: 'Failed',
                                text: "Something went wrong",
                                icon: 'error'
                            });
                            document.getElementById("checked" + i).checked = !document.getElementById("checked" + i).checked;
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                        document.getElementById("checked" + i).checked = !document.getElementById("checked" + i).checked;
                    },
                    error: function (response) {
                        alert(response.responseText);
                        document.getElementById("checked" + i).checked = !document.getElementById("checked" + i).checked;
                    }
                });
        }
    </script>
}